@using MusicApp.Models

<h1>Songs</h1>

<table>
    <tr>
        <td>Artist</td>
        <td>Name</td>
        <td></td>
    </tr>
    @foreach (Song song in ViewBag.Songs)
    {

        <tr>
            <td>
                <a href="Artist/@song.ArtistId">@song.Artist.Name</a>
            </td>
            <td>@song.Name</td>
            <td>
                <audio controls="" name="media">
                    <source src ="@song.Address" type="audio/mpeg" />
                </audio>
            </td>
        </tr>

    }
</table>